@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'open-props/style';
// @import 'open-props/normalize';
// @import 'open-props/buttons';


:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

html {
  scroll-behavior: smooth;

  ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    display: none;
  }

  ::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 20px;
  }

  ::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 20px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}

:root {
  --crsl-bg: transparent;
  --box-bg: #1e272e;
  --box-shadow: #0000001c;
  --box-shadow-border: #0000000f;
  --box-border: #fff;
  --animate-delay: 0.9s;
}


body {
  color: rgb(var(--foreground-rgb));
  background-color: #173D33;
  overflow-x: hidden;

  .leaflet-popup-content {
    margin: 0;
  }

  .leaflet-popup-content-wrapper, .leaflet-popup-tip {
    background-color: #000;
  }

  #__next {
    height: 100vh;
  }

  .viewport {
    margin: 0 0 0 0;
    width: 100vw;
    overflow-x: hidden;
    // max-height: 100vh;
    // position: fixed;
  }


  .scroll-container {
    display: flex;
    align-items: center;
    min-height: 100%;
    gap: 100px;
    flex-direction: column;
  }

  .swiper-container {
    width: 100%;
  }

  .swiper {
    width: 100%;
    transform: rotate(8deg) !important;
    transform-style: preserve-3d;
    perspective: 200px;
  }


  .swiper-animation {
    transition: all 0.5s ease-in-out !important;
  }


  .swiper-slide {
    transition: all 1s linear;
    text-align: center;
    font-size: 18px;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 28rem;
    height: 22rem;
    border-radius: 20px;
    perspective: 200px;
    transform-style: preserve-3d;
    transform: translateX(1px) rotateX(0deg) rotateY(-1deg) translateZ(-10px) !important;
    padding: 35px;
    position: relative;
  }


  .swiper-slide-prev {
    transform: translateX(1px) rotateX(0deg) rotateY(3deg) translateZ(2px) !important;
    padding: 20px 70px;
  }

  .swiper-slide-next {
    transform: translateX(1px) rotateX(0deg) rotateY(1deg) translateZ(-3px) !important;
  }

  .swiper-slide-active {

    transform: translateX(1px) rotateX(0deg) rotateY(5deg) translateZ(-4px) !important;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
    transition: all 0.45s linear;
  }

  .swiper-slide img:hover {
    transform: scale(1.1);
  }

  .image-container {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    overflow: hidden;
  }


  .bubbles {
    position: absolute;
    bottom: 0;
    z-index: -1;
    left: -150px;
    background-color: white;
    border-radius: 50%;
    opacity: .50;
    width: 10px;
    height: 10px;
    animation: up 14s infinite;
  }

  .bubble-2 {
    left: 350px;
    animation: up 12s infinite;
  }

  .bubble-3 {
    left: 750px;
    opacity: .30;
    animation: up 15s infinite;
  }

  .bubble-4 {
    left: 1150px;
    animation: up 16s infinite;
  }

  .bubble-5 {
    left: 50px;
    animation: up 15s infinite;
  }

  .bubble-6 {
    left: 300px;
    opacity: .30;
    animation: up 13s infinite;
  }

  .bubble-7 {
    left: 670px;
    animation: up 14s infinite;
  }

  .bubble-8 {
    left: 1050px;
    opacity: .30;
    animation: up 13s infinite;
  }

  .bubble-9 {
    left: 540px;
    animation: up 14s infinite;
  }

  .bubble-10 {
    left: 660px;
    opacity: .30;
    animation: up 15s infinite;
  }

  .bubble-11 {
    left: 540px;
    animation: up 12s infinite;
  }

  .bubble-12 {
    left: 410px;
    opacity: .30;
    animation: up 11s infinite;
  }

  .bubble-13 {
    left: 842px;
    animation: up 10s infinite;
  }

  .bubble-14 {
    left: 1155px;
    opacity: .30;
    animation: up 14s infinite;
  }

  .bubble-15 {
    left: 1311px;
    animation: up 12s infinite;
  }

  .bubble-16 {
    left: 1434px;
    opacity: .30;
    animation: up 11s infinite;
  }

  .bubble-17 {
    left: 536px;
    animation: up 15s infinite;
  }

  .bubble-18 {
    left: 1532px;
    opacity: .30;
    animation: up 14s infinite;
  }

  .bubble-19 {
    left: 1511px;
    opacity: .30;
    animation: up 14s infinite;
  }

  .bubble-20 {
    left: 1453px;
    opacity: .30;
    animation: up 23s infinite;
  }

  .bubble-21 {
    left: 1143px;
    opacity: .30;
    animation: up 6s infinite;
  }

  .bubble-22 {
    left: 1123px;
    opacity: .30;
    animation: up 13s infinite;
  }

  .bubble-23 {
    left: 323px;
    opacity: .3;
    animation: up 6s infinite;
  }

  .bubble-24 {
    left: 653px;
    opacity: .20;
    animation: up 8s infinite;
  }

  .bubble-25 {
    left: 433px;
    opacity: .21;
    animation: up 7s infinite;
  }

  .bubble-26 {
    left: 233px;
    opacity: .34;
    animation: up 6s infinite;
  }

  .bubble-27 {
    left: 444px;
    opacity: .12;
    animation: up 7s infinite;
  }

  .bubble-28 {
    left: 323px;
    opacity: .3;
    animation: up 6s infinite;
  }

  .bubble-29 {
    left: 653px;
    opacity: .20;
    animation: up 8s infinite;
  }

  .bubble-30 {
    left: 433px;
    opacity: .21;
    animation: up 7s infinite;
  }

  .bubble-31 {
    left: 233px;
    opacity: .34;
    animation: up 6s infinite;
  }

  .bubble-32 {
    left: 444px;
    opacity: .12;
    animation: up 7s infinite;
  }

  .bubble-33 {
    left: 1353px;
    opacity: .20;
    animation: up 8s infinite;
  }

  .bubble-34 {
    left: 1433px;
    opacity: .21;
    animation: up 9s infinite;
  }

  .bubble-35 {
    left: 1233px;
    opacity: .34;
    animation: up 7s infinite;
  }

  .bubble-36 {
    left: 1444px;
    opacity: .12;
    animation: up 8s infinite;
  }

  /* Bubbles Animation */
  @keyframes up {
    100% {
      transform: translate(800px, -800px);
    }
  }


  .pen-info {
    color: #d4d3d4;
    text-transform: uppercase;
  }

  .c-button {
    color: #000;
    font-weight: 700;
    padding: .7em 1.8em;
    cursor: pointer;
    display: inline-block;
  }


  .c-button--gooey {
    text-transform: uppercase;
    border-radius: 0;
    padding: 1.2em 3.4em;
    position: relative;
    transition: all 700ms ease;
    color: #000;


    .c-button__blobs {
      height: 100%;
      filter: url(#goo);
      overflow: hidden;
      position: absolute;
      top: 0;
      left: 0;
      bottom: -3px;
      right: -1px;
      z-index: 1;
      border-radius: 30px;



      div {
        background-color: #A4D0A4;
        width: 40%;
        height: 100%;
        border-radius: 100%;
        position: absolute;
        transform: scale(1.4) translateY(125%) translateZ(0);
        transition: all 1s;

        &:nth-child(1) {
          left: -5%;
        }

        &:nth-child(2) {
          left: 30%;
          transition-delay: 60ms;
        }

        &:nth-child(3) {
          left: 66%;
          transition-delay: 25ms;
        }
      }
    }

    &:hover {
      color: #fff;

      .c-button__blobs {
        div {
          transform: scale(1.4) translateY(0) translateZ(0);
        }
      }
    }
  }


  @media screen and (max-width:640px) {
    .p-carousel-items-content {
      height: 315px !important;
    }
  }

  .p-dialog .p-dialog-header {
    flex-direction: row-reverse;
    font-family: '__Vazirmatn_253970';
  }

  .p-dialog .p-dialog-header .p-dialog-title {
    text-align: right;
    font-family: '__Vazirmatn_253970';
  }

  .p-dialog .p-dialog-content {
    text-align: right;
    padding: 1rem 1.5rem 2rem 1.5rem;
    font-family: '__Vazirmatn_253970';
  }

  ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  ::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 20px;
  }

  ::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 20px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }


  .outer-container {
    margin: auto;
    display: flex;
    border-radius: 5px;
    box-shadow: 1px 3px 6px rgba(0, 0, 0, 0.3);
    overflow: hidden;
  }

  .outer-container>div {
    flex: 1;
    padding: 20px;
  }

  .outer-container .carousel-wrapper {
    // background: var(--orange);
    display: flex;
    flex-direction: column;
  }

  .outer-container .carousel-wrapper p,
  .carousel-item {
    font-weight: 700;
    font-size: 20px;
    color: var(--white);
    line-height: 1.3;
  }

  .outer-container .content {
    background: var(--white);
  }

  .leading-text {
    display: flex;
    align-items: center;
    height: 100%;
    margin-right: 6px;
  }

  .carousel {
    height: 100%;
    display: flex;
    flex: 5;
    align-items: center;
    color: var(--white);
  }

  .carousel-button {
    display: flex;
    align-self: center;
    padding: 10px;
    max-width: 50px;
    border-radius: 30px;
    // background: var(--orange);
    border: 2px solid var(--white);
  }

  .carousel-button svg {
    height: 26px;
    width: 26px;
  }

  .carousel-button path {
    fill: var(--white);
  }

  .slides {
    align-self: flex-start;
    flex: 1;
    width: 100%;
    overflow: hidden;
  }

  .carousel-inner {
    position: relative;
    max-height: 450px;
    height: 450px;
    width: 550px;
  }

  .carousel-inner::before,
  .carousel-inner::after {
    content: "";
    z-index: 1;
    position: absolute;
    width: 100%;
    height: 110px;
    pointer-events: none;
  }

  .carousel-inner::before {
    top: 0;
  }

  .outer-container .content {
    color: #fff;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
  }

  .outer-container {
    box-shadow: none;
  }

  .carousel-inner::after {
    bottom: 0;
  }

  .p-carousel-container {
    height: 640px;


    @media screen and (max-width:1000px) {
      height: 500px;
    }

    @media screen and (max-width:640px) {
      height: 320px;
    }
  }

  .p-inputtext::placeholder {
    transform: translateY(-2px);
  }

  .animate__animated.animate__lightSpeedInLeft {
    --animate-duration: 1.5s;
  }

  .carousel-item {
    position: absolute;
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    opacity: 0;
    top: 112px;
    color: white;
    transition: transform 2s ease, opacity 0.001s ease;


    &__active {
      font-size: 180px;
      right: -55%;

      @media screen and (max-width:640px) {
        font-size: 100px;
        right: -15%;
      }
    }

    &__inactive {
      font-size: 60px;

      @media screen and (max-width:640px) {
        font-size: 50px;
      }
    }
  }

  .outer-container .carousel-wrapper {
    text-align: center;
  }

  .carousel-inner {
    max-height: 450px;
    height: 450px;
    width: 250px;

    @media screen and (max-width:1280px) {
      // width: 550px;
    }
  }

  .carousel-item.visible {
    opacity: 1;
  }

  .p-tabview .p-tabview-panels {
    background-color: transparent;
  }

  .p-tabview .p-tabview-nav {
    background-color: transparent;
    gap: 75px;
  }


  .p-tabview .p-tabview-nav {
    border: none;
    justify-content: center;
  }

  .p-tabview-title {
    font-family: '__Vazirmatn_253970';
    font-size: 19px;
  }

  .p-tabview .p-tabview-nav .p-tabview-ink-bar {
    background-color: #FFD074;
  }

  .p-tabview .p-tabview-nav li .p-tabview-nav-link:not(.p-disabled):focus {
    box-shadow: none;
  }

  .p-tabview .p-tabview-nav li.p-highlight .p-tabview-nav-link {
    background-color: transparent;
    border-color: #FFD074;
    color: #FFD074;
  }

  .p-tabview .p-tabview-nav li:not(.p-highlight):not(.p-disabled):hover .p-tabview-nav-link {
    background-color: transparent;
    color: #fff;
  }

  .p-tabview .p-tabview-nav li .p-tabview-nav-link {
    background-color: transparent;
    border: none;
    color: #fff;
  }


  .p-carousel .p-carousel-content .p-carousel-prev,
  .p-carousel .p-carousel-content .p-carousel-next {
    background-color: #FFD074;
    color: #fff;
  }

  .p-carousel .p-carousel-indicators .p-carousel-indicator button {
    width: 11px;
    border-radius: 999px;
    height: 11px;
    background-color: #ced4da;
    transition: background-color 0.2s, color 0.2s, box-shadow 0.2s;
  }

  .p-carousel .p-carousel-indicators .p-carousel-indicator.p-highlight button {
    background-color: #EBDAB2;
    border-radius: 999px;
    width: 73px;
    height: 11px;
  }

  // .swiper-wrapper {
  //   display: flex;
  //   align-items: center !important;

  //   .swiper-slide {
  //     img {
  //       width: 100%;
  //       height: 180px;

  //       @media screen and (max-width:1200px) {
  //         height: 200px;
  //       }
  //     }
  //   }
  // }

  .p-accordion .p-accordion-header:not(.p-disabled).p-highlight .p-accordion-header-link {
    justify-content: space-between;
  }

  .p-accordion .p-accordion-header .p-accordion-header-link .p-accordion-toggle-icon {
    color: #AAFB75;
    width: 40px;
    height: 40px;

    @media screen and (max-width:1200px) {
      width: 25px;
      height: 25px;
    }
  }

  .p-accordion .p-accordion-header .p-accordion-header-link {
    justify-content: space-between;
  }

  .p-component {
    width: 100%;
  }

  .p-accordion .p-accordion-header:not(.p-disabled) .p-accordion-header-link:focus {
    box-shadow: none;
  }

  .p-accordion .p-accordion-header:not(.p-disabled).p-highlight:hover .p-accordion-header-link {
    background-color: transparent;
    border: none;
  }

  .p-accordion .p-accordion-content {
    background-color: transparent;
    border: none;
    color: #fff;
    font-family: '__Vazirmatn_253970';
    font-size: 17px;
    font-weight: 300;


    @media screen and (max-width:640px) {
      font-size: 14px;
    }
  }

  .p-accordion .p-accordion-tab {
    border-bottom: 1px solid white;
    padding: 50px 0px;
  }

  .p-accordion-header-text {
    color: #AAFB75;
    font-size: 60px;
    font-weight: 400;
    font-family: '__Vazirmatn_253970';
  }

  @media screen and (max-width:640px) {
    .p-accordion-header-text {
      font-size: 40px;
    }
  }

  .p-accordion .p-accordion-header:not(.p-disabled).p-highlight .p-accordion-header-link {
    background-color: transparent;
    border: none;
  }

  .p-accordion .p-accordion-header:not(.p-highlight):not(.p-disabled):hover .p-accordion-header-link {
    background-color: transparent;
    border: none;
  }

  .p-accordion .p-accordion-header .p-accordion-header-link {
    background-color: transparent;
    border: none;
  }

  // .swiper {
  //   overflow: hidden;
  //   position: relative;
  //   --v-offset: 60px;
  //   --curve-height: 120px;

  //   &:before,
  //   &:after {
  //     content: "";
  //     z-index: 99;
  //     display: block;
  //     background: #173D33;
  //     width: calc(100vw + 2 * var(--v-offset));
  //     height: var(--curve-height);
  //     position: absolute;
  //     border-radius: 45%;
  //     left: calc(-1 * var(--v-offset));
  //     right: calc(-1 * var(--v-offset));
  //   }

  //   &:before {
  //     top: calc(-0.7 * var(--curve-height));
  //     // z-index: 99;
  //   }

  //   &:after {
  //     bottom: calc(-0.7 * var(--curve-height));
  //   }
  // }

  // .wrapper {
  //   display: grid;
  //   grid-template-rows: 300px;
  //   grid-auto-flow: column;
  //   grid-gap: 24px;
  //   overflow: auto;
  //   scroll-snap-type: x mandatory;

  //   img {
  //     scroll-snap-align: center;

  //   }
  // }


  .p-breadcrumb {
    background-color: transparent;
    border: none;
    padding: 0;
  }

  .p-breadcrumb .p-breadcrumb-list li.p-menuitem-separator {
    margin: 0 0.5rem 0 0.5rem;
    transform: rotateY(180deg);
    color: #A3A7B0;
  }

  .p-datatable .p-datatable-thead>tr>th {
    color: #fff;
    font-family: '__Vazirmatn_253970';
    font-weight: 400;
    background-color: transparent;
  }

  .p-datatable .p-datatable-tbody>tr {
    background-color: transparent;
  }

  .p-breadcrumb .p-breadcrumb-list li .p-menuitem-link .p-menuitem-text {

    @media screen and (max-width:640px) {
      font-size: 14px;
    }

    color: #A3A7B0;
    font-family: '__Vazirmatn_253970';
  }

  .p-datatable .p-datatable-tbody>tr>td {
    border: none;
  }

  .p-breadcrumb .p-breadcrumb-list li:last-child .p-menuitem-text {
    color: #31BAAE;
  }

  .p-breadcrumb ul {
    flex-direction: row-reverse;
  }

  .p-breadcrumb .p-menuitem-separator:last-child {
    display: none;
  }

  .p-menuitem-separator:first-child {
    display: none;
  }



}