@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

html {
  scroll-behavior: smooth;
}


body {
  color: rgb(var(--foreground-rgb));
  background-color: #173D33;
  scroll-behavior: smooth;


  .outer-container {
    margin: auto;
    display: flex;
    border-radius: 5px;
    box-shadow: 1px 3px 6px rgba(0, 0, 0, 0.3);
    overflow: hidden;
  }

  .outer-container>div {
    flex: 1;
    padding: 20px;
  }

  .outer-container .carousel-wrapper {
    // background: var(--orange);
    display: flex;
    flex-direction: column;
  }

  .outer-container .carousel-wrapper p,
  .carousel-item {
    font-weight: 700;
    font-size: 20px;
    color: var(--white);
    line-height: 1.3;
  }

  .outer-container .content {
    background: var(--white);
  }

  .leading-text {
    display: flex;
    align-items: center;
    height: 100%;
    margin-right: 6px;
  }

  .carousel {
    height: 100%;
    display: flex;
    flex: 5;
    align-items: center;
    color: var(--white);
  }

  .carousel-button {
    display: flex;
    align-self: center;
    padding: 10px;
    max-width: 50px;
    border-radius: 30px;
    // background: var(--orange);
    border: 2px solid var(--white);
  }

  .carousel-button svg {
    height: 26px;
    width: 26px;
  }

  .carousel-button path {
    fill: var(--white);
  }

  .slides {
    align-self: flex-start;
    flex: 1;
    width: 100%;
    overflow: hidden;
  }

  .carousel-inner {
    position: relative;
    max-height: 250px;
    height: 250px;
  }

  .carousel-inner::before,
  .carousel-inner::after {
    content: "";
    z-index: 1;
    position: absolute;
    width: 100%;
    height: 110px;
    pointer-events: none;
  }

  .carousel-inner::before {
    top: 0;
  }

  .outer-container .content {
    color: #fff;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
  }

  .outer-container {
    box-shadow: none;
  }

  .carousel-inner::after {
    bottom: 0;
  }

  .carousel-item {
    position: absolute;
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    opacity: 0;
    top: 112px;
    color: white;
    transition: transform 0.4s ease, opacity 0.4s ease;
  }

  .outer-container .carousel-wrapper {
    text-align: center;
  }

  .carousel-inner {
    max-height: 350px;
    height: 350px;
  }

  .carousel-item.visible {
    opacity: 1;
  }

  .p-tabview .p-tabview-panels {
    background-color: transparent;
  }

  .p-tabview .p-tabview-nav {
    background-color: transparent;
    gap: 75px;
  }


  .p-tabview .p-tabview-nav {
    border: none;
    justify-content: center;
  }

  .p-tabview-title {
    font-family: '__Vazirmatn_253970';
    font-size: 19px;
  }

  .p-tabview .p-tabview-nav .p-tabview-ink-bar {
    background-color: #FFD074;
  }

  .p-tabview .p-tabview-nav li .p-tabview-nav-link:not(.p-disabled):focus {
    box-shadow: none;
  }

  .p-tabview .p-tabview-nav li.p-highlight .p-tabview-nav-link {
    background-color: transparent;
    border-color: #FFD074;
    color: #FFD074;
  }

  .p-tabview .p-tabview-nav li:not(.p-highlight):not(.p-disabled):hover .p-tabview-nav-link {
    background-color: transparent;
    color: #fff;
  }

  .p-tabview .p-tabview-nav li .p-tabview-nav-link {
    background-color: transparent;
    border: none;
    color: #fff;
  }


  .p-carousel .p-carousel-content .p-carousel-prev,
  .p-carousel .p-carousel-content .p-carousel-next {
    background-color: #FFD074;
    color: #fff;
  }

  .p-carousel .p-carousel-indicators .p-carousel-indicator button {
    width: 11px;
    border-radius: 999px;
    height: 11px;
    background-color: #ced4da;
    transition: background-color 0.2s, color 0.2s, box-shadow 0.2s;
  }

  .p-carousel .p-carousel-indicators .p-carousel-indicator.p-highlight button {
    background-color: #EBDAB2;
    border-radius: 999px;
    width: 73px;
    height: 11px;
  }

  .swiper-wrapper {
    display: flex;
    align-items: center !important;

    .swiper-slide {
      img {
        width: 100%;
        height: 180px;

        @media screen and (max-width:1200px) {
          height: 200px;
        }
      }
    }
  }

  .p-accordion .p-accordion-header:not(.p-disabled).p-highlight .p-accordion-header-link {
    justify-content: space-between;
  }

  .p-accordion .p-accordion-header .p-accordion-header-link .p-accordion-toggle-icon {
    color: #AAFB75;
    width: 40px;
    height: 40px;
  }

  .p-accordion .p-accordion-header .p-accordion-header-link {
    justify-content: space-between;
  }

  .p-component {
    width: 100%;
  }

  .p-accordion .p-accordion-header:not(.p-disabled) .p-accordion-header-link:focus {
    box-shadow: none;
  }

  .p-accordion .p-accordion-header:not(.p-disabled).p-highlight:hover .p-accordion-header-link {
    background-color: transparent;
    border: none;
  }

  .p-accordion .p-accordion-content {
    background-color: transparent;
    border: none;
    color: #fff;
    font-family: '__Vazirmatn_253970';
    font-size: 17px;
    font-weight: 300;
  }

  .p-accordion .p-accordion-tab {
    border-bottom: 1px solid white;
    padding: 50px 0px;
  }

  .p-accordion-header-text {
    color: #AAFB75;
    font-size: 60px;
    font-weight: 400;
    font-family: '__Vazirmatn_253970';
  }

  .p-accordion .p-accordion-header:not(.p-disabled).p-highlight .p-accordion-header-link {
    background-color: transparent;
    border: none;
  }

  .p-accordion .p-accordion-header:not(.p-highlight):not(.p-disabled):hover .p-accordion-header-link {
    background-color: transparent;
    border: none;
  }

  .p-accordion .p-accordion-header .p-accordion-header-link {
    background-color: transparent;
    border: none;
  }

  .swiper {
    overflow: hidden;
    position: relative;
    --v-offset: 60px;
    --curve-height: 120px;

    &:before,
    &:after {
      content: "";
      z-index: 99;
      display: block;
      background: #173D33;
      width: calc(100vw + 2 * var(--v-offset));
      height: var(--curve-height);
      position: absolute;
      border-radius: 45%;
      left: calc(-1 * var(--v-offset));
      right: calc(-1 * var(--v-offset));
    }

    &:before {
      top: calc(-0.7 * var(--curve-height));
      // z-index: 99;
    }

    &:after {
      bottom: calc(-0.7 * var(--curve-height));
    }
  }

  .wrapper {
    display: grid;
    grid-template-rows: 300px;
    grid-auto-flow: column;
    grid-gap: 24px;
    overflow: auto;
    scroll-snap-type: x mandatory;

    img {
      scroll-snap-align: center;

    }
  }


  .p-breadcrumb {
    background-color: transparent;
    border: none;
    padding: 0;
  }

  .p-breadcrumb .p-breadcrumb-list li.p-menuitem-separator {
    margin: 0 0.5rem 0 0.5rem;
    transform: rotateY(180deg);
    color: #A3A7B0;
  }

  .p-datatable .p-datatable-thead > tr > th {
    color: #fff;
    font-family: '__Vazirmatn_253970';
    font-weight: 400;
    background-color: transparent;
  }

  .p-datatable .p-datatable-tbody > tr {
    background-color: transparent;
  }

  .p-breadcrumb .p-breadcrumb-list li .p-menuitem-link .p-menuitem-text {
    color: #A3A7B0;
    font-family: '__Vazirmatn_253970';
  }

  .p-datatable .p-datatable-tbody > tr > td {
    border: none;
  }

  .p-breadcrumb .p-breadcrumb-list li:last-child .p-menuitem-text {
    color: #31BAAE;
  }

  .p-breadcrumb ul {
    flex-direction: row-reverse;
  }

  .p-breadcrumb .p-menuitem-separator:last-child {
    display: none;
  }

  .p-menuitem-separator:first-child {
    display: none;
  }



}